SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=
REPLICATE_API_TOKEN=
REPLICATE_MODEL_VERSION=
PDFSHIFT_API_KEY=

RESEND_API_KEY=
AI_DESIGNER_ADMIN_EMAIL=info@dcjoinery.uk
AI_DESIGNER_ADMIN_TOKEN=

NEXT_PUBLIC_SITE_URL=http://localhost:3000
